@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgba(65, 65, 65, 0.062);
}

.normal {
    background-color: #c2c287;
}

.fire {
    background-color: #ff6e06;
}

.water {
    background-color: #2161f5;
}

.grass {
    background-color: #4dbb16;
}

.electric {
    background-color: #fdce11;
}

.ice {
    background-color: #4be0e0;
}

.ground {
    background-color: #d3ac40;
}

.flying {
    background-color: #6337e6;
}

.poison {
    background-color: #a72aa7;
}

.fighting {
    background-color: #b92018;
}

.psychic {
    background-color: #f73770;
}

.dark {
    background-color: #694d3b;
}

.rock {
    background-color: #af941c;
}

.bug {
    background-color: #a6b615;
}

.ghost {
    background-color: #624394;
}

.steel {
    background-color: #9d9db8;
}

.dragon {
    background-color: #6326f3;
}

.fairy {
    background-color: #A8B820;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

.content h1 {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .content {

        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;

        box-shadow: 3px 15px 15px 3px rgba(80, 80, 80, 0.5);
    }

}